table {
  width: 100%;
  color: white;
  text-align: center;
  border-collapse: collapse;

  thead {
    tr {

      .first {
        width: 200px;
      }

      th {
        width: auto;

        img {
          width: 80%;
          height: auto;
          cursor: pointer;
        }

        img:active {
          border: 5px solid green;
        }
      }
    }
  }

  tbody {

    td {
      width: auto;
    }

    .lose-game {
      background-color: #7f1d1d;
    }

    .beSelected {
      background-color: #1aa964;
      margin: 8px;
    }
  }
}
