:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.game-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  app-timer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

app-rock-paper-scissors-game {
  display: flex;
  flex: 1;
}

.pay-button {
  border: 1px solid black;
  margin: 8px;
  background: linear-gradient(90deg, #1aa964, #8bca5d);
  box-shadow:
    rgba(35, 238, 136, 0.4) 0 0 15px 0,
    rgb(29, 202, 106) 0 -2px 0 0 inset;
}

app-winner {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
