@if ((selectActiveGameData$ | async)?.status === 'Finished') {
  <app-rock-paper-scissors
  [gameData]="gameData"
  (emitter)="events($event)"
></app-rock-paper-scissors>
<span style="color: whitesmoke">Winner: </span>
}
@if ((selectActiveGameData$ | async)?.status === 'Waiting payment') {
  <app-players-status-table-container></app-players-status-table-container>
}
@if ((selectActiveGameData$ | async)?.status === 'Game') {
  <div class="game-container">
    <app-rock-paper-scissors-game></app-rock-paper-scissors-game>
  </div>
}


