<div class="container">

  <div class="header">
    <button mat-icon-button class="toggle home-icon" (click)="event('home', title)">
      <mat-icon>home</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="toggle" (click)="event('reload', title)">
      <mat-icon>replay</mat-icon>
    </button>
  </div>

  <div class="table-container">
    <table class="table">
      <thead>
      <tr class="table-header">
        <th class="header-cell">#</th>
        <th class="header-cell">ID</th>
        <th class="header-cell">Кол-во игроков</th>
        <th class="header-cell">Нужные ставки</th>
        <th class="header-cell"></th>
      </tr>
      </thead>
      <tbody>
        @for (game of (activeGamesList); track game.id + '-'; let i = $index) {
          <tr class="table-row">
            <td class="table-cell">{{ i + 1 }}</td>
            <td class="table-cell">{{ game.id }}</td>
            <td class="table-cell">{{ game.playerNumberSet }}/{{ game.playersNumber }}</td>
            <td class="table-cell">{{ game.bet }}</td>
            <td class="table-cell action-cell">
              <button mat-raised-button class="manage-button join-button" (click)="manage('observe', game.id, title)">Observe</button>
              <button
                mat-raised-button
                class="manage-button join-button"
                [class.is-connected]="game.isPlayerJoined === '1'"
                [disabled]="game.isPlayerJoined === '1'"
                (click)="manage('join', game.id, title)"
              >
                Join
              </button>
              <button mat-raised-button class="manage-button delete-button" (click)="manage('delete', game.id, title)">X</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="footer">
    <button mat-raised-button (click)="event('create', title)">Create</button>
  </div>
</div>
