<div class="container">
  <div class="header">
    <button mat-icon-button class="toggle home-icon" (click)="event('home')">
      <mat-icon>undo</mat-icon>
    </button>
    <span>{{ title }}: {{ gameData.id }} - {{ gameData.status}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="toggle">
      <mat-icon>replay</mat-icon>
    </button>
  </div>
  <div class="body">
    <ng-content
    ></ng-content>
  </div>
  <div class="footer">
    @if (isConnected) {
      <button class="footer-button" mat-raised-button [disabled]="!(gameData.status === 'notStarted')" (click)="event('observe')">Disconnect & Stay</button>
      <button class="footer-button" mat-raised-button [disabled]="!(gameData.status === 'notStarted')" (click)="event('leave')">Disconnect & Leave</button>
    } @else {
      <button class="footer-button" mat-raised-button [disabled]="(gameData.playersNumber === gameData.playerNumberSet)" (click)="event('connect')">Connect to game</button>
    }
  </div>
</div>
