<div class="container">
  <div class="header">
    <button mat-icon-button class="toggle home-icon" (click)="event('home')">
      <mat-icon>undo</mat-icon>
    </button>
    @if (gameData.status === 'notStarted') {
      <span>{{ title }} | Wait Players: {{ gameData.playerNumberSet}}/{{ gameData.playersNumber}} </span>
    } @else {
      <span>{{ title }} | {{ gameData.status}}</span>
    }
    <span class="example-spacer"></span>
    ID: {{ gameData.id }}
  </div>
  <div class="body">
    <ng-content/>
  </div>
  <div class="footer">
    @if (isConnected) {
      <button class="footer-button" mat-raised-button [disabled]="!(gameData.status === 'notStarted')" (click)="event('observe')">Disconnect & Stay</button>
      <button class="footer-button" mat-raised-button [disabled]="!(gameData.status === 'notStarted')" (click)="event('leave')">Disconnect & Leave</button>
    } @else {
      <button class="footer-button" mat-raised-button [disabled]="(gameData.playersNumber === gameData.playerNumberSet)" (click)="event('connect')">Connect to game</button>
    }
  </div>
</div>
