:host {

  background-color: rgb(36, 38, 38);
  height: 100%;
  width: 100%;
}
app-header-container {
  display: block;
  height: 60px;
}

.main-container {
  margin: 16px;
}

.main-container.sidebar-open .main-content {
  margin-left: 240px;
}
