.content {
  color: white;
  font-size: 16px;
  font-weight: 400;

  .title {
    color: #24ee89;
    font-size: 24px;
    font-weight: 400;
  }
}

button {
  border: 1px solid black;
  margin: 8px;
  background: linear-gradient(90deg, #1aa964, #8bca5d);
  box-shadow:
    rgba(35, 238, 136, 0.4) 0 0 15px 0,
    rgb(29, 202, 106) 0 -2px 0 0 inset;
}

table  {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  color: white;
  width: 100%;
  margin-bottom: 16px;

  thead {
    tr {
      font-size: 18px;

      th {
        font-weight: 400;
      }
    }
  }

  tbody {
    font-size: 12px;

    td {
      text-align: center;
    }
  }

  tr, td, th {
    padding: 4px;
    border: 1px solid black;
  }
}


