<div class="content">
  <h3 class="title">gameData:</h3>
  <div>
    id: {{ gameData.id }}
  </div>
  <div>
    type: {{ gameData.type }}
  </div>
  <div>
    status: {{ gameData.status }}
  </div>
  <div>
    finishedAt: {{ gameData.finishedAt }}
  </div>
  <div>
    createdAt: {{ gameData.createdAt }}
  </div>
  <div>
    updatedAt: {{ gameData.updatedAt }}
  </div>
  <div>
    bet: {{ gameData.bet }}
  </div>
  <div>
    playersNumber: {{ gameData.playersNumber }}
  </div>
  <div>
    playerNumberSet: {{ gameData.playerNumberSet }}
  </div>
  <div>
    <button mat-button [disabled]="!(gameData.status === 'notPaid')" (click)="sendEvent('pay')">
      Pay
    </button>
    <button mat-button [disabled]="!(gameData.status === 'allPaid')" (click)="sendEvent('win')">
      WIN
    </button>
    <button mat-button [disabled]="!(gameData.status === 'allPaid')" (click)="sendEvent('lose')">
      LOSE
    </button>
  </div>
</div>
