<div class="parent-container">
  <div class="content-container">
    <form class="example-form">
      <div>Players</div>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="playersNumber" name="players">
      </mat-form-field>
    </form>

    <form class="example-form">
      <div>Bots</div>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="bots" name="bots">
      </mat-form-field>
    </form>

    <form class="example-form">
      <div>Bet, $</div>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="bet" name="bet">
      </mat-form-field>
    </form>
  </div>

  <div class="buttons-container">
    <div class="spacer"></div>
    <button class="default-button"  (click)="events('cancel')">
      Cancel
    </button>
    <button class="primary-button" (click)="events('create')">
      Create
    </button>
  </div>
</div>
