<div class="players-in-game">
  <div class="players-result">
    @for (player of gameFlow.players; track player.wallet) {
      <div
        class="result-color-box"
        [class.choice-made]="player.status === 'isBet' || player.status === 'win' || player.status === 'loser'"
        [class.show-winner-choice]="player.status === 'win'"
        [class.show-loser-choice]="player.status === 'loser'"
      >
        @if (player.typeChoice === 'icon') {
          @if (player.status === 'loser' && player.choice === '') {
            <mat-icon>
              clear
            </mat-icon>
          }
          @if (player.status !== 'loser' && player.choice === '') {
            <mat-icon>
              question_mark
            </mat-icon>
          }
          @if (player.choice !== '') {
            <mat-icon>
              {{ player.choice }}
            </mat-icon>
          }
        } @else if (player.typeChoice === 'text') {
          <span> {{ player.choice }} </span>
        }
      </div>
    }
  </div>

  <div class="players-profile">
    @for (player of gameFlow.players; track player.wallet) {
      <div class="profile-box">
        <div class="profile-photo">
          <mat-icon>
            person_outline
          </mat-icon>
        </div>
        <span class="profile-name">{{ player.wallet }}</span>
      </div>
    }
  </div>
</div>

