<mat-toolbar class="header">
  <div class="header-content">
    <button mat-icon-button class="sidebar-toggle" (click)="sidebarService.toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="spacer"></div>
    @if (loginName === '') {
      <app-login-button (click)="login()"></app-login-button>
      <app-register-button (click)="registration()" [label]="'Registration'"></app-register-button>
    }
    @if (loginName !== '') {
      <mat-icon>account_circle</mat-icon>
    }
  </div>
</mat-toolbar>
